.notification{
  position: absolute;
  top:0px;
  left:50%;
  color: #f10d0d;
  width:200px;
  min-height: 60px;
  border-radius: 15px;
  border: 1px solid #000000;
  background: #edf0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  transform: translate(-50%,-100%);
  animation:dropDown 2s ease;
  &__text{
    color: #131212;
    text-align: center;
    font-size: $sub-text-middle;

    @include respond-to(mobile){
      font-size: $sub-text-mobile;
    }
  }
}
@keyframes dropDown {
  100%{
    transform: translate(-50%,50%);
  }
  
}