.theme {
  &__field {

    height: 45px;


    @include respond-to(middle) {
      height: 30px;
    }
    @include respond-to(mobile) {
      height: 25px;
    }

    &-select{

      height: 100%;
      color: #7a7a7a;
      border: 1.5px solid #7a7a7a;
      border-radius: 15px;
      padding: 0 10px;
      font-size: $sub-text-large;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: 0 0px 4px 1px #99befa;
      }

      &::placeholder {
        color: #7a7a7a;
      }
    

      @include respond-to(middle) {
        font-size: $sub-text-middle;
      }
      @include respond-to(mobile) {
        font-size: $sub-text-mobile;
      }
    }
    &-select{
      &-option {
        font-size: inherit;
      }
    }
  }
}
.yellow {
  .header-container,
  .todos__item,
  .page-application__btn {
    background-color: $theme-color_yellow;

  }

}

.blue {
  .header-container,
  .todos__item,
  .page-application__btn {
    background-color: $theme-color_blue;

  }
}

.red {
  .header-container,
  .todos__item,
  .page-application__btn {
    background-color: $theme-color_red;

  }
}





